<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:c="http://www.springframework.org/schema/c" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context">

    <context:annotation-config/>
    <context:component-scan base-package="by.babanin"/>

    <!--<import resource="model.xml"/>

    <bean class="by.babanin.ActionReplacer" name="actionReplacer"/>

    <bean class="by.babanin.impl.robot.ModelT1000" id="t1000" scope="prototype" autowire="byType">
        <property name="name" value="t1000"/>
        <property name="color" value="black"/>
        <property name="year" value="2006"/>
        <property name="soundEnabled" value="true"/>
        <replaced-method name="action" replacer="actionReplacer"/>
    </bean>

    <bean class="by.babanin.impl.robot.ModelT1000" id="modelT1000" parent="t1000" autowire="byType">
        <property name="name" value="modelT1000"/>
        <property name="hand" ref="sonyHand"/>
        <property name="soundEnabled" value="false"/>
        <property name="year" value="2017"/>
    </bean>

    <bean class="by.babanin.impl.robot.ModelT1000Factory" id="modelT1000Factory">
        <lookup-method name="create" bean="t1000"/>
    </bean>

    <util:map id="robots">
        <entry key="#{t1000.year}" value-ref="t1000"/>
        <entry key="#{modelT1000.year}" value-ref="modelT1000"/>
    </util:map>
    <bean class="by.babanin.impl.robot.ModelT1000Pool" id="modelT1000Pool" autowire="constructor"/>

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:constant.properties</value>
            </list>
        </property>
    </bean>

    <bean class="org.slf4j.LoggerFactory" id="loggerFactory"/>

    <bean class="by.babanin.MyBeanPostProcessor" id="beanPostProcessor"
          c:logger="#{loggerFactory.getLogger('beanPostProcessor')}"/>-->
</beans>